
<div ng-app="app">
    <div >
        <div ng-view>
        </div>
    </div>
</div>



@section scripts{
   
    <script src="~/ng/therapistApp.js"></script>
    <script src="~/ng/therapistController.js"></script>
    <script src="~/ng/therapistIndexController.js"></script>
    <script src="~/ng/DataService.js"></script>
    <script src="~/ng/dirPagination.js"></script>
    <script src="~/ng/therapistDirective.js"></script>
   
}