<div class="panel panel-default">
    <div id="ro-headingThree" role="tab" class="panel-heading">
        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#ro-service-accordion" href="#ro-collapseThree" aria-expanded="false" aria-controls="ro-collapseThree" class="collapsed">מחירון טיפולי יופי</a></h4>
    </div>
    <div id="ro-collapseThree" role="tabpanel" aria-labelledby="ro-headingThree" aria-expanded="false" class="panel-collapse collapse">
        <div data-mcs-theme="minimal-dark" class="panel-body mCustomScrollbar">
            <div class="ro-service-list">
                <ul>
                    <li>
                        <div class="ro-service">פדיקור </div>
                        <div class="ro-separator"> </div>
                        <div class="ro-price">₪150</div>
                    </li>
                    <li>
                        <div class="ro-service">מניקור </div>
                        <div class="ro-separator"></div>
                        <div class="ro-price">₪70</div>
                    </li>
                    <li>
                        <div class="ro-service">טיפול פנים 30 דק' פילינג עיסוי ומסיכת הזנה</div>
                        <div class="ro-separator"></div>
                        <div class="ro-price">₪150</div>
                    </li>
                    <li>
                        <div class="ro-service">טיפול פנים מלא 90 דק'</div>
                        <div class="ro-separator"></div>
                        <div class="ro-price">₪350</div>
                    </li>
                    <li>
                        <div class="ro-service">ג'ל לאק</div>
                        <div class="ro-separator"></div>
                        <div class="ro-price">₪150</div>
                    </li>
                    <li>
                        <div class="ro-service">הסרת שיער רגל שלמה וביקיני</div>
                        <div class="ro-separator"></div>
                        <div class="ro-price">₪200</div>
                    </li>
                    <li>
                        <div class="ro-service">איפור לאירוע ערב</div>
                        <div class="ro-separator"></div>
                        <div class="ro-price">₪350</div>
                    </li>
                    <li>
                        <div class="ro-service">איפור לכלה</div>
                        <div class="ro-separator"></div>
                        <div class="ro-price">₪800</div>
                    </li>
                    <li>
                        <div class="ro-service">(מינימום הזמנה )</div>
                        <div class="ro-separator"></div>
                        <div class="ro-price">₪250</div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
