<div class="panel panel-default">
    <div id="ro-headingOne" role="tab" class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#ro-service-accordion" href="#ro-collapseOne" aria-expanded="true" aria-controls="ro-collapseOne" class="collapsed">מחירון טיפולי גוף</a>
            @*<a data-toggle="collapse" data-parent="#ro-service-accordion" href="#ro-collapseTwo" aria-expanded="false" aria-controls="ro-collapseTwo" class="collapsed">מחירון טיפולי גוף</a>*@
        </h4>
    </div>
    <div id="ro-collapseOne" role="tabpanel" aria-labelledby="ro-headingOne" aria-expanded="true" class="panel-collapse collapse in">
        <div data-mcs-theme="minimal-dark" class="panel-body mCustomScrollbar">
            <div class="ro-service-list">
                <ul>
                    <li>
                        <div class="ro-service">עיסוי שבדי  (דק' 60)</div>
                        <div class="ro-separator"> </div>
                        <div class="ro-price"> ₪250</div>
                    </li>
                    <li>
                        <div class="ro-service">תוספת רבע שעה עיסוי בכפות רגליים</div>
                        <div class="ro-separator"></div>
                        <div class="ro-price">₪50</div>
                    </li>
                    <li>
                        <div class="ro-service">אבנים חמות  (60 דק')</div>
                        <div class="ro-separator"></div>
                        <div class="ro-price">₪300</div>
                    </li>
                    <li>
                        <div class="ro-service">עיסוי לנשים בהריון (60 דק')</div>
                        <div class="ro-separator"></div>
                        <div class="ro-price"> ₪300</div>
                    </li>
                    <li>
                        <div class="ro-service">עיסוי רקמות עמוק 60 דק' </div>
                        <div class="ro-separator"></div>
                        <div class="ro-price"> ₪300</div>
                    </li>
                    <li>
                        <div class="ro-service">עיסוי תאילנדי 60 דק'</div>
                        <div class="ro-separator"></div>
                        <div class="ro-price">  ₪300</div>
                    </li>
                    <li>
                        <div class="ro-service">
                            שיאצו ( 60 דק')
                        </div>
                        <div class="ro-separator"></div>
                        <div class="ro-price">
                            ₪300
                        </div>
                    </li>
                    <li>
                        <div class="ro-service">טווינה ( 60 דק')</div>
                        <div class="ro-separator"></div>
                        <div class="ro-price"> ₪300</div>
                    </li>
                    <li>
                        <div class="ro-service">העיסוי המלכותי ( 90 דק')</div>
                        <div class="ro-separator"></div>
                        <div class="ro-price">₪400</div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>