@{
    ViewBag.Title = "About";
}
<section class="main-content-change" data-cycle="true">
    <div style="background: url('../../Images/Backgrounds/about_bg.jpg') no-repeat;">
    </div>
    <div style="background: url('../../Images/Backgrounds/contact_bg.jpg') no-repeat">
    </div>
</section>
<div class="text-content">
    <div class="text-ident">
        @*  <p>
                אסי מאיר הוא מטפל מוסמך בשיאצו מטעם בית הספר "תמורות" לרפואה משולבת- מערבית וסינית.<br>
                בעל קליניקה בתל אביב, בה מטפל ומנחה סדנאות לשיאצו וטיפול במגע.<br>
                מטפל בכאבי גב, צוואר ושכמות, הפרעות שינה ועיכול, מיגרנות, פיברומיאלגיה ועוד.<br>
                טיפל במרכז "רותם" בקריית אונו בילדים ומבוגרים בעלי הפרעות קשב וריכוז.
                <br>
                מתמחה בשילוב ילדים בעלי הפרעות תקשורת בבתי ספר רגילים.<br>
                אסי בעל תואר בתקשורת מטעם המכללה למנהל תל אביב, נשוי ואב לילד.
                <br>
                <br>
                <u>אני מאמין</u>
                <br>
                "דרך החיים בה רוב האנשים חיים רצופה מתחים, המביאים למחלות כאבים ולחצים נפשיים,<br>
                לי יש את הרצון הפנימי והיכולת לעזור לאנשים לפרוק את המתחים ולשחרר את המכאובים באמצעות.<br>
                מגע, שיחה ורפואה סינית.<br>
                ובכך לממש את עצמי ולהביא תועלת ועזרה בעולם".<br>
            </p>*@
     
            <h2 class="h2-articles">
                מי אנחנו
            </h2>
            <p>
            </p>
            <p>
                סשין היא עסק מתחום הספא ואיכות החיים,שהוקם בשנת 2007 על ידי אסי מאיר מטפל בשיאצו
                המתגורר בתל אביב</p>
            <p>
                אנחנו מאמינים כי כיום, דרך החיים עמוסה ומלאה במתחים ולחצים, המביאים למחלות כאבים
                ולחצים נפשיים.</p>
            <p>
                דאגות כלכליות ובריאותיות, רצון לספק, לתת תפוקה, להיות מוערכים וממומשים בלימודים
                ובעבודה, ותוך כדי &nbsp;להתמודד עם &nbsp;האתגרים הכרוכים בלשמר את הזוגיות ולגדל
                ולחנך את הילדים, אנחנו חיים בדור העמוס בתקשורת ועומס מידע, סמארטפונים, מסכי טלבזיה
                ושעות רבות מול מסכי המחשב, תמיד מחוברים תמיד אונליין דרוכים לקבל ולהעביר מידע.</p>
            <p>
                בסשין אנחנו מבינים במצב הזה של המתח לא בריא לאורך זמן וחייבים ל"אתחל" מדי פעם את
                המערכות ואנחנו שמחים לעזור לאנשים לפרוק את המתחים ולשחרר את המכאובים באמצעות שיטות
                הטיפול של הרפואה המשלימה.</p>
            <p>
                מגע, שיחה וטיפול כשאנחנו עוזרים לכם, אתם עוזירם לנו לממש את עצמינו.</p>
            <p>
                השירותים שאנו מספקים:</p>
            <p>
                שירותי מסאג' עד הבית, המלון, הצימר או בקליניקות ברחבי הארץ</p>
            <p>
                הפקת מתחמי עיסוי באירועי חברה,</p>
            <p>
                שירותי קוסמטיקה וטיפוח מניקור פדיקור עד הבית,</p>
            <p>
                שירותי מאמני כושר אישיים,</p>
            <p>
                דיקור וצמחי מרפא עד הבית,</p>
            <p>
                אירגון סדנאות מגע לערבים חוויתיים ומסיבות רווקות,</p>
            <p>
                כל אנשי המקצוע שאיתם אנו עובדים מוסמכים מבוטחים ועוברים בדיקה קפדנית והכל כדי שתוכל
                להירגע ולהתחדש ולהתפנק</p>
            <p>
                והכל בנוחות של ביתך או בקליניקות נבחרות ברחבי הארץ.</p>
            <p>
                <br>
                &nbsp;</p>
            <p>
            </p>
        
    </div>
</div>
