@{
    ViewBag.Title = "צור קשר";
}
@section script
{
   @{Html.RenderPartial("_GoogleConversion");}
}

<div class="text-content">
    <!-- Contacts -->
    <div id="contacts" class="contacts">
        <div class="row">
            <!-- Alignment -->
            <div class="col-sm-offset-7 col-sm-4">
                 
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4>
                                תודה על פנייתך :)
                            </h4>
                        </div>
                        <div class="panel-body">
                            נציג יחזור אליך בדקות הקרובות
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>
