<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SesshinConn" connectionString="Data Source=.\SQL2008;Initial Catalog=sesshinc_SesshinDB_Test;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <!--<add name="SesshinConn" connectionString="Data Source=.\SQL2008;Initial Catalog=Production_Copy;Integrated Security=SSPI" providerName="System.Data.SqlClient" />-->
    <!--<add name="SesshinConn"
       connectionString="Data Source=mssql182.joinweb.co.il;Initial Catalog=sesshinc_SesshinDB;
     Integrated Security=False;User ID=sesshinc_WebUser;Password=a4g5g5d4;Connect Timeout=45;Encrypt=False;Packet Size=4096"
        providerName="System.Data.SqlClient"
        />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ActiveTrail.User" value="asi.meir@gmail.com" />
    <add key="ActiveTrail.Pass" value="asi1976" />
    <add key="DatabaseInitializerForType             Sesshin.DAL.SesshinAdminContext, Sesshin.DAL" value="Disabled" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomerServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="CustomerServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webapi.mymarketing.co.il/customers/customerservice.asmx" binding="basicHttpBinding" bindingConfiguration="CustomerServiceSoap" contract="ActiveTrailApi.CustomersServiceProxy.CustomerServiceSoap" name="CustomerServiceSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <context type="Sesshin.DAL.SesshinAdminContext, Sesshin.DAL">
        <databaseInitializer type="System.Data.Entity.MigrateDatabaseToLatestVersion`2[[             Sesshin.DAL.SesshinAdminContext, Sesshin.DAL],              [Sesshin.DAL.Migrations.Configuration, Sesshin.DAL]],              EntityFramework" />
      </context>
    </contexts>
  </entityFramework>
</configuration>