 
@{
    var baseBgUrl = Sesshin.Service.Utils.GetBackgroundImagesFolder();
}
         
<div class="main-content-change" data-cycle="true" >
    <div style="@string.Concat("background: url(", baseBgUrl,"/main-massage_bg1.png) no-repeat;")"></div> 
    <div style="@string.Concat("background: url(", baseBgUrl, "/treatment_bg.jpg) no-repeat;")"></div> 
    <div style="@string.Concat("background: url(", baseBgUrl, "/double-massage_bg.png) no-repeat;")"></div> 
    <div style="@string.Concat("background: url(", baseBgUrl, "/events_bg.png) no-repeat;")"></div>  
</div>