<div data-role="navbar">
  <ul>
    <li>@Html.ActionLink("בית", "Index", "Home", null, new { data_icon = "home"})</li>
    <li>@Html.ActionLink("צור קשר", "Contact", "Home", null, new { data_icon = "grid"})</li>
    <li>@Html.ActionLink("אודות", "About", "Home", null, new { data_icon = "info"})</li>
  </ul>
</div>
