<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SesshinConn"
      connectionString="Data Source=mssql182.joinweb.co.il;Initial Catalog=sesshinc_SesshinDB;
     Integrated Security=False;User ID=sesshinc_WebUser;Password=a4g5g5d4;Connect Timeout=45;Encrypt=False;Packet Size=4096"
       providerName="System.Data.SqlClient"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="BackgroundImagesFolder" value="http://admin.sesshin.co.il/Images/Backgrounds"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    
    <add key="DatabaseInitializerForType
            Sesshin.DAL.SesshinAdminContext, Sesshin.DAL" value="Disabled" />
    
  </appSettings>
   
  <system.web>
 
  </system.web>
  <entityFramework>

    <contexts xdt:Transform="Remove">

    </contexts>
  </entityFramework>
</configuration>