<div class="ui-grid-b center">
    <div class="ui-block-a">
        <a href="https://twitter.com/sesshinheart" target="_blank" class="ui-btn ui-shadow ui-corner-all">
            <img src="/Images/Social/small/twitter.png" alt="  סשין בטוויטר" title="  סשין בטוויטר" />
        </a>
    </div>
    <div class="ui-block-b">
        <a href="https://www.facebook.com/pages/Sesshin-%D7%A1%D7%A9%D7%99%D7%9F/146292918744649" class="ui-btn ui-shadow ui-corner-all"
            target="_blank">
            <img src="/Images/Social/small/facebook.png" alt="סשין בפייסבוק" title="  סשין בפייסבוק" />
        </a>
    </div>
    <div class="ui-block-c">
        <a href="https://plus.google.com/109688402264454744131/about" class="ui-btn ui-shadow ui-corner-all"
            target="_blank">
            <img src="/Images/Social/small/google-plus.png" alt="סשין בגוגל פלוס" title="  סשין בגוגל פלוס" />
        </a>
    </div>
</div>
<div class="ui-grid-a center">
     
    
    <a href="tel:0548846888" class="ui-btn ui-icon-phone ui-btn-icon-left">
        התקשר עכשיו
        054-8846888
        054-8846888 
    </a>
    
</div>
