html
{
    margin: 0;
    padding: 0;
}

body
{
    direction: rtl;
    font-size: 12px;
    font-family: arial, verdana, Calibri;
    color: #736917;
    margin: 0 auto;
    padding: 0;
    min-width: 960px;
    text-align: right;
    /* max-width: 1500px; */    
}

a
{
    text-decoration: none;
    color: #403A0D;
    font-weight: bold;
}

a:link, a:visited, a:active, a:hover
{
   
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}



header, footer, hgroup, nav, section
{
    display: block;
}

.logo{ width: 180px; display: inline-block; float: right;}

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

.highlight
{
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.clear-fix:after
{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3, h4, h5, h6
{
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.75em;
    color: orange;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}


/* main layout
----------------------------------------------------------*/
header
{
    position: relative;
    min-height: 66px;
    background: #766B20 url('../Images/Layout/topper_bg.png') top center;
    padding-bottom: 0px;
    font-size: 16px;
    margin: 0;
    min-width: 1351px;
}

header ul li a
{
    font-size: 16px;
    letter-spacing: 2px;
    color: #403A0D;
    padding-top: 0px;
}

header ul li a:hover, #main_menu ul li a.current
{
    color: white;
}
.content-wrapper
{
    margin: 0 auto;
}

#body
{
    min-width: 960px;
    max-width: 1500px;
    margin: auto;
}

.main-content
{
    /*background: url("../Images/accent.png") no-repeat;         padding-left: 10px;         padding-top: 30px;*/
    background: url("../Images/Backgrounds/sesshinMain_bg.png") no-repeat;
    width: 100%;
    min-width: 960px;
    height: 444px;
    background-position: center;
}


footer
{
    /* max-width: 1500px; */
    min-width: 1351px;
    background: #766B20 url('../Images/Layout/bottom_bg.png') top center;
    height: 66px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/*navigaiton menu*/

nav {float: right;margin-top: 29px;z-index: 1000;width: 1150px;}
nav ul ul {	 display: none; }

nav ul li:hover > ul {	display: block;}

nav ul {margin: 0;padding: 0px 20px;	list-style: none;	position: relative;	display: inline-table;top: 10px;}
nav ul:after {	content: ""; clear: both; 	display: block;}
nav ul li {	float: right;}
nav ul li:hover {	}
nav ul li:hover > a.menu-link {
			color: white;text-decoration: none;-webkit-transition: All 0.5s ease;
                -moz-transition: All 0.5s ease;    -o-transition: All 0.5s ease;
                -ms-transition: All 0.5s ease;    transition: All 0.5s ease;    
                filter: alpha(opacity=80);				
		}
		
nav  ul  li  a.menu-link {
		display: block; 
		padding: 0px 15px;
		color: #baac37;
		text-decoration: none;
		
}

nav >ul >li {height: 27px;}
nav >ul >li >a.menu-link {border-left: 1px solid #403A0D; 	}
		
nav ul ul {z-index: 1000;
	background:  #766B20; 
	 
	padding: 0;
	 top: 100%;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;

position: absolute;}
nav ul ul li {
	float: none; 
	position: relative;
}
nav ul ul li a.menu-link {
	padding: 10px 20px; 
}	
nav ul ul li a.menu-link:hover {
	background: #baac37;
	color: #fff
}
 
	
	
	
.our-customers{ display: none; float: right;padding-top: 20px;margin-right: 20px}
.sesshin-copy{ float: left;color: white;margin-left: 20px; margin-top: 30px;}


/* site title
----------------------------------------------------------*/
.site-title
{
    color: #403A0D;
    font-family: Trebuchet MS;
    letter-spacing: 4px;
    font-size: 2.3em;
   margin: 20px 10px 0 10px;
}

.site-title a 
{
    background: none;
    color: #baac37;
    outline: none;
    text-decoration: none;
}
.site-title a:hover, .site-title a:active
{
    color: white;    
    -webkit-transition: All 0.5s ease;    -moz-transition: All 0.5s ease;    -o-transition: All 0.5s ease;    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
    filter: alpha(opacity=80);
}

 `
 

/* page elements
----------------------------------------------------------*/
/* featured */
.featured
{
    background-color: #fff;
}

.featured .content-wrapper
{
    background-color: #7ac0da;
    background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
    background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    color: #3e5667;
    padding: 20px 40px 30px 40px;
}

.featured hgroup.title h1, .featured hgroup.title h2
{
    color: #fff;
}

.featured p
{
    font-size: 1.1em;
}

/* page titles */
hgroup.title
{
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2
{
    display: inline;
}

hgroup.title h2
{
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature
{
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round
{
    list-style-type: none;
    padding-left: 0;
}

ol.round li
{
    margin: 25px 0;
    padding-left: 45px;
}

ol.round li.one
{
    background: url("../Images/orderedListOne.png") no-repeat;
}

ol.round li.two
{
    background: url("../Images/orderedListTwo.png") no-repeat;
}

ol.round li.three
{
    background: url("../Images/orderedListThree.png") no-repeat;
}

/* content */
article
{
    float: left;
    width: 70%;
}

aside
{
    float: right;
    width: 25%;
}

aside ul
{
    list-style: none;
    padding: 0;
}

aside ul li
{
    background: url("../Images/bullet.png") no-repeat 0 50%;
    padding: 2px 0 2px 20px;
}

.label
{
    font-weight: 700;
}

/* login page */
#loginForm
{
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 45%;
}

#loginForm .validation-error
{
    display: block;
    margin-left: 15px;
}

#socialLoginForm
{
    margin-left: 40px;
    float: left;
    width: 50%;
}

/* contact 
.contact h3
{
    font-size: 1.2em;
}

.contact p
{
    margin: 5px 0 0 10px;
}

.contact iframe
{
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}
*/



 
/* ajax login/registration dialog */
.modal-popup
{
    font-size: 0.7em;
}

.modal-popup input[type="text"], .modal-popup input[type="password"]
{
    width: 90%;
}

/* info and errors */
.message-info
{
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error
{
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success
{
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error
{
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error
{
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid
{
    display: none;
}

input[type="text"].input-validation-error, input[type="password"].input-validation-error
{
    border: 1px solid #e80c4d;
}

.validation-summary-errors
{
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid
{
    display: none;
}

.social-div{ float: left; width: 315px; margin-top: 30px;}

.social-div ul li
{
    display: inline-block;
    list-style: none;
}
 
.social-div ul li a img {
width: 26px;
height: 26px;
}
.fb-like{}

.fb_iframe_widget iframe {

}
 
.phone{ float: left; font-size: 26px; margin: 0;}
.phone p{ margin: 0; padding-right: 15px; margin-top: 28px;}
.address p{margin-top: 28px;}
.address{ float: left; font-size: 26px; margin: 0; margin-left: 6px;}
.heart{float: left;margin-top: 37px;margin-right: 15px;}
.heart p{margin: 0}
.orange{color: orange;/* font-weight: bold; */}
/*homepage*/
.main-content-change
{
    width: 100%;
    margin: 0;
}
.main-content-change div
{
    height: 444px;
    width: 1500px;
    margin: 0 auto;
}

.text-content
{
    position: relative;
    width: 100%;
    min-width: 960px;
    height: 444px;
    margin: 0;
    z-index: 999;
    
}
.slogen 
{
    width: 604px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 5px
}


/*Home Css included views :
        index
*/ 

#navBoxes{float: right;margin-right: 100px;margin-top: 5px;width: 525px;}
#navBoxes ul{float: right;list-style-type: none;    padding-top: 20px;}
#navBoxes ul li { text-align: center;float: right; margin: 10px;}
.block-anchor{display: inline-block;}

#navBoxes .box:hover{background-color: #beb92f;
                      -webkit-box-shadow: -4px 3px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    -4px 3px 10px rgba(50, 50, 50, 0.5);
    box-shadow:         -4px 3px 10px rgba(50, 50, 50, 0.5);}

#navBoxes .box
{
    font-weight: bold;
    font-size: 14pt;
    height: 120px;
    width: 120px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
                
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;

    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.home-massage-link{font-size: 18px}
.home-massage-link:hover {
    color: #403A0D
     
         
}
 
.box-bg1{ background-color: #6d6906}
.box-bg2{ background-color: #8b870f}
.box-bg3{ background-color: #9b972c}
.box-bg4{ background-color: #beb92f}

.contact-info
 {
     padding: 15px;
    float: right;    position:relative;    top: 30px;    right: 30px;    background-color: #8B870F;
    border-bottom-left-radius: 10px;    border-bottom-right-radius: 10px;    border-top-left-radius: 10px;    border-top-right-radius: 10px;
    color: white;    direction: rtl;    font-family: Arial;    font-size: 19px;    font-weight: bold;   
    text-align: right;    text-decoration: none;    width: 300px;    font-size:16px;
 }
 .contact-info fieldset{border: 0}
 .contact-info legend{margin-bottom:5px;color: #BAAC37;}
 .contact-info label{float: right;width: 70px;} 
 .contact-info .field-row{padding:3px}
 .therapist-gender{padding-right:70px;}
 .contact-info input[type='text']{width:150px;border-radius:5px}
 .contact-info textarea{width:150px;border-radius:5px}
 .div-button{float:left;margin-left:30px}
 .div-approve{float:right;font-size: 12px;}
 .therapist-gender{margin-right:70px}
 

/*about*/
.text-ident{ padding: 50px;width: 500px}

/*Products Details*/
.products-details-box{position: absolute;top: 40px;right: 120px;background-color: #6d6906;
    width: 469px;height: 315px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;
    padding: 15px;}
.products-details-box p{color: white;font-size: 12pt}

.products-to-prices-box {
position: absolute;
top: 390px;
right: 500px;
background-color: #6d6906;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding: 5px;
font-size: 18px;
width: 110px;
text-align: center;
line-height: 0;
}

/*articles */
 
.h2-articles{font-size: 18pt;margin-right: 90px;margin-top: 0;padding-top: 10px;}
.article-index-content  { width: 700px; float: right;}

.box-article
    {
        background-color: #8b870f;
    
        margin: 5px;

        display: inline-block;
font-weight: bold;
font-size: 13pt;
height: 100px;
width: 200px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-transition: All 0.5s ease;
-moz-transition: All 0.5s ease;
-o-transition: All 0.5s ease;
-ms-transition: All 0.5s ease;
transition: All 0.5s ease;
filter: alpha(opacity=80);
-moz-opacity: 0.8;
-khtml-opacity: 0.8;
opacity: 0.8;
}

.box-article:hover{background-color: #beb92f}
.article-box-text-floater{height: inherit;color: white;width: 100%;text-align: center;margin-top: 20px;}
.article-details{position: absolute;top: 40px;right: 30px;background-color: #beb92f;
    width: 600px;height: 315px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;
    padding: 15px;}
.article-content {display: inline-block;z-index: 10;border-radius: 8px;font-size: 12pt;
                  padding : 0 15px;width: inherit;height: 378px;margin-right: 15px;}
.article-bg1{background: url("/Images/Backgrounds/main-massage_bg1.png") no-repeat;height: 444px;width: 100%;float: right}
 
 .articles-index-details-box{position: absolute;right: 30px; 
    width: 700px;height: 354px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;
    padding-right: 15px;}
 .h2-articles{ margin: 0; color: white}
 .h2-article-index{
    padding-top: 22px;
    margin: 0 77px 0 0;
}
 /*prices*/
 .box-text-floater{padding: 5px;color: white;padding-top: 35px;}
 
 
 #boxDescription{position: absolute;top: 40px;right: 120px;display: none;background-color: #6d6906;
    width: 469px;height: 275px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;
    padding: 15px;}
#boxDescription p{color: white;font-size: 12pt}

#nav-boxes-long{float: right;position: absolute;top: 40px;right: 100px;}
#nav-boxes-long ul{list-style-type: none;  margin:0}
#nav-boxes-long ul li { text-align: center;float: right;margin-left: 10px;}
#nav-boxes-long ul li a{padding:0}
#nav-boxes-long ul li a div.boxLong:hover{background-color: #d4ce7c}
#nav-boxes-long ul li a div.boxLong
{
    font-weight: bold;
    font-size: 14pt;
    height: 275px;width: 110px;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;
    /*-webkit-box-shadow: -4px 3px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    -4px 3px 10px rgba(50, 50, 50, 0.5);
    box-shadow:         -4px 3px 10px rgba(50, 50, 50, 0.5);*/
                        
    /*-webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;*/

    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
                       }

 
.box-bg1{ background-color: #6d6906}
.box-bg2{ background-color: #8b870f;}
.box-bg3{ background-color: #9b972c}
.box-bg4{ background-color: #beb92f}


.linkbox-text{padding-top: 28px;}
.linkbox-text-subtext{ color: #403A0D;margin-top: 10px;font-style: italic;font-size: 17px;height: 125px }
.linkbox-minuts{margin-top: 10px;color: orange;font-size: 34px;font-weight: bold}
.linkbox-minuts-text{font-size: 18px}
.linkbox-price{font-size: 34px;font-weight: bold}
.linkbox-price-sign{font-size: 18px}

a.link-orange{color: orange;}
a.link-orange:hover{color: white;
text-decoration: none;
-webkit-transition: All 0.5s ease;
-moz-transition: All 0.5s ease;
-o-transition: All 0.5s ease;
-ms-transition: All 0.5s ease;
transition: All 0.5s ease;
filter: alpha(opacity=80);}

.h2-products{
    margin: 0;
    color: #baac37;
}
/*nano slider*/
.nano {  width: 500px; height: 500px; }
.nano .content { padding-bottom: 10px; padding-right: 30px; }
.nano .pane   { background: #fff; }
.nano .slider { background: #111; }


.contacts {
    padding-top: 15px; 
}