 <div class="ro-advertise-2 ro-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 hidden-xs"><img src="/assets/images/advertise2.jpg" alt="ad image" class="img-responsive" /></div>
            <div class="col-sm-9">
                <div class="ro-advertise-2-content">
                    <p>Like what you see?<br />Start now with this demo or check out our other demos to find what you need.</p><a href="#" class="ro-btn-bd-2">BUY NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>