 <div id="membership" class="ro-section ro-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="ro-hr-heading ro-section-heading">פרסום למטפלים</h3>
            </div>
            <div class="ro-membership-wrapper clearfix ro-section-mb">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="#">
                        <div class="ro-membership-item">
                            <h5>Beginner</h5>
                            <div class="ro-price">
                                <img src="/assets/images/membership1.jpg" alt="membership1-img" />
                                <div class="ro-overlay">
                                    <div class="ro-cell-vertical-wrapper">
                                        <div class="ro-cell-middle">
                                            <h1><span class="ro-small">₪</span>0</h1>
                                            <h5>חינם</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="ro-option">
                                <li>
חשיפה לאלפי גולשים המחפשים להזמין עיסויים ומתנות רומנטיות כל חודש

</li>
                                <li>השיחות מגיעות למוקד ומופנות למטפל על פי שיקול דעת מוקד</li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="ro-btn-bd-1 ro-easing-link" href="#reservation">!הזמן עכשיו</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="#">
                        <div class="ro-membership-item">
                            <h5>Novice</h5>
                            <div class="ro-price">
                                <img src="/assets/images/membership2.jpg" alt="membership1-img" />
                                <div class="ro-overlay">
                                    <div class="ro-cell-vertical-wrapper">
                                        <div class="ro-cell-middle">
                                            <h1><span class="ro-small">₪</span>150</h1>
                                            <h5>לחודש</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="ro-option">
                                <li>
חשיפה לאלפי גולשים המחפשים להזמין עיסויים ומתנות רומנטיות כל חודש
</li>
                                <li>השיחות מגיעות ישירות לנייד של המטפל כולל מעקב על מספר השיחות הנכנסות</li>
                                <li>
עדיפות בקבלת עבודות באירועי רווחה לחברות
</li>
                                <li></li>
                                <li></li>
                            </ul>
                            <div class="ro-btn-bd-1 ro-easing-link" href="#reservation">!הזמן עכשיו</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="#">
                        <div class="ro-membership-item">
                            <h5>Professional</h5>
                            <div class="ro-price">
                                <img src="/assets/images/membership3.jpg" alt="membership1-img" />
                                <div class="ro-overlay">
                                    <div class="ro-cell-vertical-wrapper">
                                        <div class="ro-cell-middle">
                                            <h1><span class="ro-small">₪</span>290</h1>
                                            <h5>לחודש</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="ro-option">
                                <li>
חשיפה לאלפי גולשים המחפשים להזמין עיסויים ומתנות רומנטיות כל חודש
</li>
                                <li>השיחות מגיעות ישירות לנייד כולל מעקב על מספר השיחות הנכנסות</li>
                                <li>
עדיפות בקבלת עבודות באירועי רווחה לחברות
</li>
                                <li>
שירות ניהול יומן בזמן טיפולים
</li>
                                <li></li>
                            </ul>
                           <div class="ro-btn-bd-1 ro-easing-link" href="#reservation">!הזמן עכשיו</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="#">
                        <div class="ro-membership-item">
                            <h5>Guru</h5>
                            <div class="ro-price">
                                <img src="/assets/images/membership4.jpg" alt="membership1-img" />
                                <div class="ro-overlay">
                                    <div class="ro-cell-vertical-wrapper">
                                        <div class="ro-cell-middle">
                                            <h1><span class="ro-small">₪</span>490</h1>
                                            <h5>לחודש</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="ro-option">
                                <li>
חשיפה לאלפי גולשים המחפשים להזמין עיסויים ומתנות רומנטיות כל חודש
</li>
                                <li>השיחות מגיעות ישירות לנייד כולל מעקב על מספר השיחות הנכנסות</li>
                                <li>
עדיפות בקבלת עבודות באירועי רווחה לחברות
</li>
                                <li>
,ניהול דיוור במייל ותקשורת חברתית למאגר לקוחות שירות ניהול יומן בזמן טיפולים
</li>
                                <li>עבודות גרפיקה (לוגו, כרטיסי ביקור ואתר אישיים)</li>
                            </ul>
                            <div class="ro-btn-bd-1 ro-easing-link">
!הזמן עכשיו
</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>