 <div id="membership" class="ro-section ro-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="ro-hr-heading ro-section-heading">MEMBERSHIP</h3>
            </div>
            <div class="ro-membership-wrapper clearfix ro-section-mb">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="#">
                        <div class="ro-membership-item">
                            <h5>STANDARD</h5>
                            <div class="ro-price">
                                <img src="/assets/images/membership1.jpg" alt="membership1-img" />
                                <div class="ro-overlay">
                                    <div class="ro-cell-vertical-wrapper">
                                        <div class="ro-cell-middle">
                                            <h1><span class="ro-small">$</span>59</h1>
                                            <h5>monthly</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="ro-option">
                                <li>24/7 Tech Support</li>
                                <li>100GB Stronge</li>
                                <li>1GB Brandwidth</li>
                                <li>Free Upgrades</li>
                                <li>Unlimited Users</li>
                            </ul>
                            <div class="ro-btn-bd-1">BUY NOW</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="#">
                        <div class="ro-membership-item">
                            <h5>BUSINESS </h5>
                            <div class="ro-price">
                                <img src="/assets/images/membership2.jpg" alt="membership1-img" />
                                <div class="ro-overlay">
                                    <div class="ro-cell-vertical-wrapper">
                                        <div class="ro-cell-middle">
                                            <h1><span class="ro-small">$</span>89</h1>
                                            <h5>monthly</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="ro-option">
                                <li>24/7 Tech Support</li>
                                <li>100GB Stronge</li>
                                <li>1GB Brandwidth</li>
                                <li>Free Upgrades</li>
                                <li>Unlimited Users</li>
                            </ul>
                            <div class="ro-btn-bd-1">BUY NOW</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="#">
                        <div class="ro-membership-item">
                            <h5>PREMIUM</h5>
                            <div class="ro-price">
                                <img src="/assets/images/membership3.jpg" alt="membership1-img" />
                                <div class="ro-overlay">
                                    <div class="ro-cell-vertical-wrapper">
                                        <div class="ro-cell-middle">
                                            <h1><span class="ro-small">$</span>99</h1>
                                            <h5>monthly</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="ro-option">
                                <li>24/7 Tech Support</li>
                                <li>100GB Stronge</li>
                                <li>1GB Brandwidth</li>
                                <li>Free Upgrades</li>
                                <li>Unlimited Users</li>
                            </ul>
                            <div class="ro-btn-bd-1">BUY NOW</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a href="#">
                        <div class="ro-membership-item">
                            <h5>ULTIMATE</h5>
                            <div class="ro-price">
                                <img src="/assets/images/membership4.jpg" alt="membership1-img" />
                                <div class="ro-overlay">
                                    <div class="ro-cell-vertical-wrapper">
                                        <div class="ro-cell-middle">
                                            <h1><span class="ro-small">$</span>109</h1>
                                            <h5>monthly</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="ro-option">
                                <li>24/7 Tech Support</li>
                                <li>100GB Stronge</li>
                                <li>1GB Brandwidth</li>
                                <li>Free Upgrades</li>
                                <li>Unlimited Users</li>
                            </ul>
                            <div class="ro-btn-bd-1">BUY NOW</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>