 <div class="ro-section ro-bgc-4 ro-padding-top-big">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ro-section-mb-big">
                <div id="ro-service-accordion" role="tablist" aria-multiselectable="true" class="ro-service-accordion panel-group">
                    <div class="panel panel-default">
                        <div id="ro-headingOne" role="tab" class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#ro-service-accordion" href="#ro-collapseOne" aria-expanded="true" aria-controls="ro-collapseOne" class="collapsed">מחירון טיפולי גוף</a></h4>
                        </div>
                        <div id="ro-collapseOne" role="tabpanel" aria-labelledby="ro-headingOne" aria-expanded="true" class="panel-collapse collapse in">
                            <div data-mcs-theme="minimal-dark" class="panel-body mCustomScrollbar">
                                <div class="ro-service-list">
                                    <ul>
                                        <li>
                                            <div class="ro-service">עיסוי שבדי (60 דק')</div>
                                            <div class="ro-separator"> </div>
                                            <div class="ro-price"> ₪ 250 </div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Add on: Deep Tissue Massage (per area)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$25</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Hot Stone Massage (55 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$73</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Maternity Massage (55 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$50</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Delux Seated Massage (20 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$23</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Regular Seated Massage (10 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$10</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Body Polish (1 hr)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$68</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Sea Mud Wrap (1 hr)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$78</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">The Ultimate Body Treatment (1hr 50 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$100</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Full Body Massage (55 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$78</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div id="ro-headingTwo" role="tab" class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#ro-service-accordion" href="#ro-collapseTwo" aria-expanded="false" aria-controls="ro-collapseTwo" class="collapsed">BEAUTY PRICE LIST</a></h4>
                        </div>
                        <div id="ro-collapseTwo" role="tabpanel" aria-labelledby="ro-headingTwo" aria-expanded="false" class="panel-collapse collapse">
                            <div data-mcs-theme="minimal-dark" class="panel-body mCustomScrollbar">
                                <div class="ro-service-list">
                                    <ul>
                                        <li>
                                            <div class="ro-service">Full Body Massage (55 mins)</div>
                                            <div class="ro-separator"> </div>
                                            <div class="ro-price">$78</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Add on: Deep Tissue Massage (per area)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$25</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Hot Stone Massage (55 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$73</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Maternity Massage (55 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$50</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Delux Seated Massage (20 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$23</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Regular Seated Massage (10 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$10</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Body Polish (1 hr)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$68</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Sea Mud Wrap (1 hr)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$78</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">The Ultimate Body Treatment (1hr 50 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$100</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Full Body Massage (55 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$78</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div id="ro-headingThree" role="tab" class="panel-heading">
                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#ro-service-accordion" href="#ro-collapseThree" aria-expanded="false" aria-controls="ro-collapseThree" class="collapsed">YOGA PRICE LIST</a></h4>
                        </div>
                        <div id="ro-collapseThree" role="tabpanel" aria-labelledby="ro-headingThree" aria-expanded="false" class="panel-collapse collapse">
                            <div data-mcs-theme="minimal-dark" class="panel-body mCustomScrollbar">
                                <div class="ro-service-list">
                                    <ul>
                                        <li>
                                            <div class="ro-service">Full Body Massage (55 mins)</div>
                                            <div class="ro-separator"> </div>
                                            <div class="ro-price">$78</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Add on: Deep Tissue Massage (per area)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$25</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Hot Stone Massage (55 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$73</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Maternity Massage (55 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$50</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Delux Seated Massage (20 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$23</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Regular Seated Massage (10 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$10</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Body Polish (1 hr)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$68</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Sea Mud Wrap (1 hr)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$78</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">The Ultimate Body Treatment (1hr 50 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$100</div>
                                        </li>
                                        <li>
                                            <div class="ro-service">Full Body Massage (55 mins)</div>
                                            <div class="ro-separator"></div>
                                            <div class="ro-price">$78</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 text-center ro-section-mb-big"><img src="/assets/images/specialize2.jpg" alt="spacialize" class="img-responsive ro-center-block" /></div>
        </div>
    </div>
</div>
