<div id="price" class="ro-section ro-bgc-4 ro-padding-top-big">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ro-section-mb-big">
                <div id="ro-service-accordion" role="tablist" aria-multiselectable="true" class="ro-service-accordion panel-group">

                    @Html.Partial("Partials/PriceList/_Body")
                    @*@Html.Partial("PriceList/_Beauty")*@
                </div>
            </div>
            <div class="col-md-5 col-md-offset-1 text-center ro-section-mb-big"><img src="/assets/images/specialize2.jpg" alt="spacialize" class="img-responsive ro-center-block" /></div>
        </div>
    </div>
</div>
