@model Sesshin.Website.Beta.Models.ContactUsVm
<div id="reservation" class="ro-section ro-padding-top" data-ng-controller="ContactController">

    <div class="container">
        <div class="col-xs-12 ro-reservation-heading">
            <h3 class="ro-hr-heading ro-section-mb">@Model.FormName</h3>
        </div>
        <div class="ro-reservation clearfix">
            <div class="row">
                <div class="col-xs-12 text-center ro-font-size-4 ro-light-text ro-section-mb">
                    <i>
                        @Model.Text

                        <br>
                        תודה!
                    </i>
                </div>
                <div class="col-md-10 col-md-offset-1 col-xs-12 ro-section-mb-small" ng-controller="ContactController">
                    <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
                    <form class="ro-form ro-reservation-form clearfix rtl" name="contactform" novalidate=""
                          ng-submit="submit(contactform)">
                        <div class="row">
                            <div class="col-md-4">
                                <textarea placeholder="סשין שלום, אני מתעניין ב..." name="remarks" ng-model="formData.remarks"></textarea>
                            </div>
                            <div class="col-md-4">
                                <input type="text"
                                       name="name"
                                       placeholder="שם"
                                       ng-model="formData.name"
                                       ng-class="{ 'has-error': contactform.name.$invalid && submitted }"
                                       required />
                                <input type="text"
                                       name="phone"
                                       placeholder="טלפון"
                                       required class="required"
                                       ng-model="formData.phone"
                                       ng-class="{ 'has-error': contactform.phone.$invalid && submitted }" />
                            </div>
                            <div class="col-md-4">

                                @*<input type="text" placeholder="תאריך" class="ro-date-picker" />*@
                                <input type="text" placeholder="אימייל" name="email" ng-model="formData.email" />

                                <button type="submit" class="ro-submit ro-btn-2" ng-disabled="submitButtonDisabled">הזמן</button>


                            </div>
                        </div>
                        <div class="form-inline">


                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           name="isAcceptMail"
                                           ng-model="formData.IsAcceptMail"
                                           ng-true-value="true"
                                           ng-false-value="false"> מוכן לקבל דיוור
                                </label>
                            </div>


                        </div>
                    </form>
                    <p ng-class="result" class="rtl" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>

                </div>


                <div class="col-xs-12 ro-section-mb-big">
                    <div class="ro-font-size-4 text-center">
                        <b>
                            שעות פתיחה:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            א-ה&nbsp;&nbsp;
                            8:00-21:00&nbsp;&nbsp;/&nbsp;&nbsp;
                            ו-ש&nbsp;&nbsp;
                            9:00-21:00&nbsp;&nbsp;

                        </b>
                    </div>
                    <div class="ro-font-size-4 text-center">
                        <b>
                            
                            <a href="tel:0548846888" class=" btn btn-info btn-lg ">
                                054-8846888 <span class="glyphicon glyphicon-earphone"></span>
                            </a>


                        </b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>