 <div id="service" class="ro-section ro-padding-top">
    <div class="container">
        <div class="row ro-section-mb">
            <div class="col-md-12">
                <h3 class="ro-hr-heading ro-section-heading">ברוכים הבאים</h3>
            </div>
            <div class="col-md-8 col-md-offset-2 text-center">
                <p class="ro-section-mb">פורה וידה, הוקמה כרעיון שאפתני לאחד תחת מקום אחד את המטפלים ונותני השירות המקצועיים, והאיכותיים ביותר בארץ בתחום הרווחה ואיכות החיים. הדור שלנו נמצא במירוץ, עובד שעות רבות מול מחשב בלחץ רב נמצא בפקקים ולאחר מכן חוזר להתמודדות גם בבית מול בן הזוג והילדים.כדי להספיק לעמוד בעומסים הללו ולחיות את החיים בסיפוק, באושר וברווחה.</p>
            </div>
            <div class="col-md-4 col-xs-12">
                <a >
                    <div class="ro-service-item-2 clearfix">
                        <img src="/assets/images/service21.jpg" alt="service" class="img-responsive" />
                        <h4>טיפולי גוף</h4>
                        <p>   טיפולי ספא ורפואה משלימה, היתרון שלנו הוא בצוות המטפלים והמטפלות, בחרנו במטפלים, שמלבד היותם מקצועיים, נותנים טיפול מכל הלב</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a >
                    <div class="ro-service-item-2 clearfix">
                        <img src="/assets/images/service22.jpg" alt="service" class="img-responsive" />
                        <h4>מטפלים באירועים</h4>
                        <p> פורה וידה מציעה מתחמי טיפולים מפנקים לימי כיף וגיבוש לחברות או באירועים פרטיים.
אנחנו בעלי ניסיון בהפקת אירועים גם בטבע וגם במתחם חברה. </p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a >
                    <div class="ro-service-item-2 clearfix">
                        <img src="/assets/images/service23.jpg" alt="service" class="img-responsive" />
                        <h4>מתנות מיוחדות</h4>
                        <p>ריכזנו עבורכם את הרעיונות המקוריים ביותר לחוויות רומנטיות, בים באוויר וביבשה, הפלגה זוגית רומנטית ביאכטה עם חבילת ספא, הצעת נישואין על כדור פורח או לרכב בחוף הים בשקיעה ועוד רעיונות </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>