 <div id="shop" class="ro-section ro-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="ro-hr-heading ro-section-heading">SHOP</h3>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="ro-shop-item ro-center-block">
                    <img src="/assets/images/shopn1.jpg" alt="shop image" class="img-responsive" />
                    <div class="ro-overlay">
                        <div class="ro-shop-overlay ro-cell-vertical-wrapper text-center">
                            <div class="ro-cell-middle">
                                <h4 class="ro-hr-heading">bath salt</h4>
                                <h2>150$</h2><a href="#" class="ro-btn-bd-2">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="ro-shop-item ro-center-block">
                    <img src="/assets/images/shopn2.jpg" alt="shop image" class="img-responsive" />
                    <div class="ro-overlay">
                        <div class="ro-shop-overlay ro-cell-vertical-wrapper text-center">
                            <div class="ro-cell-middle">
                                <h4 class="ro-hr-heading">bath salt</h4>
                                <h2>150$</h2><a href="#" class="ro-btn-bd-2">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="ro-shop-item ro-center-block">
                    <img src="/assets/images/shopn3.jpg" alt="shop image" class="img-responsive" />
                    <div class="ro-overlay">
                        <div class="ro-shop-overlay ro-cell-vertical-wrapper text-center">
                            <div class="ro-cell-middle">
                                <h4 class="ro-hr-heading">bath salt</h4>
                                <h2>150$</h2><a href="#" class="ro-btn-bd-2">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="ro-shop-item ro-center-block">
                    <img src="/assets/images/shopn4.jpg" alt="shop image" class="img-responsive" />
                    <div class="ro-overlay">
                        <div class="ro-shop-overlay ro-cell-vertical-wrapper text-center">
                            <div class="ro-cell-middle">
                                <h4 class="ro-hr-heading">bath salt</h4>
                                <h2>150$</h2><a href="#" class="ro-btn-bd-2">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="ro-shop-item ro-center-block">
                    <img src="/assets/images/shopn5.jpg" alt="shop image" class="img-responsive" />
                    <div class="ro-overlay">
                        <div class="ro-shop-overlay ro-cell-vertical-wrapper text-center">
                            <div class="ro-cell-middle">
                                <h4 class="ro-hr-heading">bath salt</h4>
                                <h2>150$</h2><a href="#" class="ro-btn-bd-2">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="ro-shop-item ro-center-block">
                    <img src="/assets/images/shopn6.jpg" alt="shop image" class="img-responsive" />
                    <div class="ro-overlay">
                        <div class="ro-shop-overlay ro-cell-vertical-wrapper text-center">
                            <div class="ro-cell-middle">
                                <h4 class="ro-hr-heading">bath salt</h4>
                                <h2>150$</h2><a href="#" class="ro-btn-bd-2">add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>