<header id="home" class="ro-section ro-onepage-home">
    <div class="ro-cell-vertical-wrapper">
        <div class="ro-cell-middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-4 ro-content">
                        <p class="ro-font-size-3 ro-mb-40">
                            Live The Good Life,

                            <span class="ro-aqua-brand"><span class="ro-font-size-1 ro-color-dark">Pura Vida&nbsp;</span><span class="ro-font-size-2 ro-color-main">by Sesshin</span></span><br />Clear mind. fresh body. loving soul
                        </p>@*<a href="#" class="ro-btn-bd-1">SEE MORE</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>