<div id="space" class="ro-section ro-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="ro-hr-heading ro-section-heading">גלריה</h3>
            </div>
            <div class="ro-space-items ro-section-mb clearfix">
                @for (var i = 8; i > 0; i--)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <a>
                            <div class="ro-space-img ro-center-block">
                                <img src="/assets/images/space@(i).jpg" alt="space image" class="img-responsive" />
                                <div class="ro-overlay">
                                    <div class="ro-space-overlay ro-cell-vertical-wrapper ro-bgc-trans-1 text-center">
                                        <h5 class="ro-hr-heading ro-cell-middle">PURA-VIDA</h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                
               
            </div>
        </div>
        <div class="ro-hr"></div>
    </div>
</div> 