<div id="space" class="ro-section ro-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="ro-hr-heading ro-section-heading">גלריה</h3>
            </div>
            <div class="ro-space-items ro-section-mb clearfix">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#">
                        <div class="ro-space-img ro-center-block">
                            <img src="/assets/images/space7.jpg" alt="space image" class="img-responsive" />
                            <div class="ro-overlay">
                                <div class="ro-space-overlay ro-cell-vertical-wrapper ro-bgc-trans-1 text-center">
                                    <h5 class="ro-hr-heading ro-cell-middle">dressing room</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#">
                        <div class="ro-space-img ro-center-block">
                            <img src="/assets/images/space6.jpg" alt="space image" class="img-responsive" />
                            <div class="ro-overlay">
                                <div class="ro-space-overlay ro-cell-vertical-wrapper ro-bg-trans-light text-center">
                                    <h5 class="ro-hr-heading ro-cell-middle">dressing room</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#">
                        <div class="ro-space-img ro-center-block">
                            <img src="/assets/images/space8.jpg" alt="space image" class="img-responsive" />
                            <div class="ro-overlay">
                                <div class="ro-space-overlay ro-cell-vertical-wrapper ro-bgc-trans-1 ro-space-overlay-sm-1 text-center">
                                    <h5 class="ro-hr-heading ro-cell-middle">dressing room</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#">
                        <div class="ro-space-img ro-center-block">
                            <img src="/assets/images/space5.jpg" alt="space image" class="img-responsive" />
                            <div class="ro-overlay">
                                <div class="ro-space-overlay ro-cell-vertical-wrapper ro-bg-trans-light ro-space-overlay-sm-2 text-center">
                                    <h5 class="ro-hr-heading ro-cell-middle">dressing room</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#">
                        <div class="ro-space-img ro-center-block">
                            <img src="/assets/images/space4.jpg" alt="space image" class="img-responsive" />
                            <div class="ro-overlay">
                                <div class="ro-space-overlay ro-cell-vertical-wrapper ro-bgc-trans-1 ro-space-overlay-lg-1 text-center">
                                    <h5 class="ro-hr-heading ro-cell-middle">dressing room</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#">
                        <div class="ro-space-img ro-center-block">
                            <img src="/assets/images/space3.jpg" alt="space image" class="img-responsive" />
                            <div class="ro-overlay">
                                <div class="ro-space-overlay ro-cell-vertical-wrapper ro-bg-trans-light ro-space-overlay-lg-2 text-center">
                                    <h5 class="ro-hr-heading ro-cell-middle">dressing room</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#">
                        <div class="ro-space-img ro-center-block">
                            <img src="/assets/images/space2.jpg" alt="space image" class="img-responsive" />
                            <div class="ro-overlay">
                                <div class="ro-space-overlay ro-cell-vertical-wrapper ro-bgc-trans-1 ro-space-overlay-lg-1 ro-space-overlay-sm-1 text-center">
                                    <h5 class="ro-hr-heading ro-cell-middle">dressing room</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="#">
                        <div class="ro-space-img ro-center-block">
                            <img src="/assets/images/space1.jpg" alt="space image" class="img-responsive" />
                            <div class="ro-overlay">
                                <div class="ro-space-overlay ro-cell-vertical-wrapper ro-bg-trans-light ro-space-overlay-lg-2 ro-space-overlay-sm-2 text-center">
                                    <h5 class="ro-hr-heading ro-cell-middle">dressing room</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="ro-hr"></div>
    </div>
</div> 