 <div id="team" class="ro-section ro-padding-top">
    <div class="container">
        <div class="row ro-section-mb-small">
            <div class="col-md-12">
                <h3 class="ro-hr-heading ro-section-heading">הצוות </h3>
            </div>
            <div class="col-md-4">
                <div class="ro-team-item">
                    <img src="/assets/images/team21.jpg" alt="team-member" class="img-responsive" />
                    <div class="ro-content">
                        <h5>טניה</h5>
                        <p><i class="ro-color-main ro-font-regular">קוסמטיקה והשרת שיער</i></p>
                        <p>אני מאמינה שאישה צריכה להרגיש יפה ומטופחת כמו פרח רענן, אני ניגשת לכל אחת ומתאימה לה את הטיפול המגיע לה לפי מה שמתאים לה ומרגישה סיפוק גדול שאישה מחייכת לעצמה במראה לאחר הטיפול.</p>
                        <ul class="ro-social">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-gplus"></i></a></li>
                            <li><a href="#"><i class="icon-stumbleupon"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ro-team-item">
                    <img src="/assets/images/team22.jpg" alt="team-member" class="img-responsive" />
                    <div class="ro-content">
                        <h5>רן</h5>
                        <p><i class="ro-color-main ro-font-regular">עיסוי ספורטאים ודיקור סיני</i></p>
                        <p>בוגר בית הספר ןינגייט התמחות בעיסוי רקמות עמוק ודיקור סיני בברושים מתמחה  בבעיות פריון,
אין סיפוק גדול יותר בשבילי שאני יכול לעזור למישהו לחזור לכשירות לפני תחרות גדולה</p>
                        <ul class="ro-social">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-gplus"></i></a></li>
                            <li><a href="#"><i class="icon-stumbleupon"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ro-team-item">
                    <img src="/assets/images/team23.jpg" alt="team-member" class="img-responsive" />
                    <div class="ro-content">
                        <h5>הילה</h5>
                        <p><i class="ro-color-main ro-font-regular">עיסוי ושיאצו</i></p>
                        <p>מטפלת מוסמכת בעיסוי שבדי רקמות עמוק שיאצו טווינה ומדריכת יוגה, אוהבת לטפל, להכיר ולעזור לאנשים חדשים.</p>
                        <ul class="ro-social">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-gplus"></i></a></li>
                            <li><a href="#"><i class="icon-stumbleupon"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>