 <div id="team" class="ro-section ro-padding-top">
    <div class="container">
        <div class="row ro-section-mb-small">
            <div class="col-md-12">
                <h3 class="ro-hr-heading ro-section-heading">הצוות שלנו</h3>
            </div>
            <div class="col-md-4">
                <div class="ro-team-item">
                    <img src="/assets/images/team21.jpg" alt="team-member" class="img-responsive" />
                    <div class="ro-content">
                        <h5>CARON MINICE</h5>
                        <p><i class="ro-color-main ro-font-regular">Nail staff</i></p>
                        <p>Seded ut perspiciatis unde omnis iste <br> natus error sit voluptatem accusantium</p>
                        <ul class="ro-social">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-gplus"></i></a></li>
                            <li><a href="#"><i class="icon-stumbleupon"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ro-team-item">
                    <img src="/assets/images/team22.jpg" alt="team-member" class="img-responsive" />
                    <div class="ro-content">
                        <h5>MICHEL CARTER</h5>
                        <p><i class="ro-color-main ro-font-regular">Massage man</i></p>
                        <p>Seded ut perspiciatis unde omnis iste <br> natus error sit voluptatem accusantium</p>
                        <ul class="ro-social">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-gplus"></i></a></li>
                            <li><a href="#"><i class="icon-stumbleupon"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ro-team-item">
                    <img src="/assets/images/team23.jpg" alt="team-member" class="img-responsive" />
                    <div class="ro-content">
                        <h5>TARA STITLER</h5>
                        <p><i class="ro-color-main ro-font-regular">Yoga teacher</i></p>
                        <p>Seded ut perspiciatis unde omnis iste <br> natus error sit voluptatem accusantium</p>
                        <ul class="ro-social">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-gplus"></i></a></li>
                            <li><a href="#"><i class="icon-stumbleupon"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>