 <div id="testimonial" class="ro-section ro-padding-top ro-small-border-top">
    <div class="container">
        <div id="ro-testimonial-slider" class="ro-testimonial-slider flexslider ro-section-mb">
            <ul class="slides">
                <li class="ro-item">
                    <h5>טלי אזולאי</h5>
                    <p>אנחנו רוצות להגיד לכם תודה בין כל השלגים והסופות קיבלנו מסאז׳ מפנק ועם המון אנרגיות חיוביות תודה תודה רבה !!! טלי ומיטל</p>
                </li>
                <li class="ro-item">
                    <h5><a href="https://www.facebook.com/efrat.eliyahu/reviews" target="_blank">אפרת אליהו</a></h5>
                    <p>היי לכולם, בסופש האחרון הגיעה מעסה מהחברה- אירנה, היא הייתה מקצועית בטירוף ונהנינו מאוד מהעיסוי שעשתה. מעבר לזה, היה נעים ונוח לעבוד מול החברה, זמינות וגמישות.. ממליצה בחום!‎</p>
                </li>
                <li class="ro-item">
                    <h5>MARRY ROSE</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio.  Ut pretium nisl non justo condimentum id tincidunt nunc faucibus.Sed id metus felis. Ut neque eros, pulvinar eu blandit quis, lacinia nec ipsum.</p>
                </li>
            </ul>
        </div>
        <div class="ro-hr"></div>
    </div>
</div>