<div id="testimonial" class="ro-section ro-padding-top ro-small-border-top">
    <div class="container">
        <div id="ro-testimonial-slider" class="ro-testimonial-slider flexslider ro-section-mb">
            <ul class="slides">
                <li class="ro-item">
                    <h5>טלי אזולאי</h5>
                    <p>אנחנו רוצות להגיד לכם תודה בין כל השלגים והסופות קיבלנו מסאז׳ מפנק ועם המון אנרגיות חיוביות תודה תודה רבה !!! טלי ומיטל</p>
                </li>
                <li class="ro-item">
                    <h5><a href="https://www.facebook.com/efrat.eliyahu/reviews" target="_blank">אפרת אליהו</a></h5>
                    <p>היי לכולם, בסופש האחרון הגיעה מעסה מהחברה- אירנה, היא הייתה מקצועית בטירוף ונהנינו מאוד מהעיסוי שעשתה. מעבר לזה, היה נעים ונוח לעבוד מול החברה, זמינות וגמישות.. ממליצה בחום!‎</p>
                </li>
                <li class="ro-item">
                    <h5>רויטל אמזלג</h5>
                    <p>
                        הגעתי כבר לאפיסת כוחות, מרוב כאב כבר התחלתי לזחול, התקשרתי בשבע, שעתיים אחר כך הגיע המטפל, בדלת, שאלתי, אם הוא הוא המלאך המציל שלי,

                        באותו ערב הצלחתי סוף סוף לישון -אז מסתבר שכן
                    </p>
                </li>
                <li class="ro-item">
                    <h5>רויטל אמזלג</h5>
                    <p>
                        הגעתי כבר לאפיסת כוחות, מרוב כאב כבר התחלתי לזחול, התקשרתי בשבע, שעתיים אחר כך הגיע המטפל, בדלת, שאלתי, אם הוא הוא המלאך המציל שלי,

                        באותו ערב הצלחתי סוף סוף לישון -אז מסתבר שכן
                    </p>
                </li>
                <li class="ro-item">
                    <h5>שיר נתניה</h5>
                    <p>ערב לפני כמה פגישות ממש חשובות בעבודה הגוף בגד בי והצוואר נתפס כך שלא יכולתי לזוז, התקשרתי לאסי , כבר שעה אחרי הגיע רון המטפל-תותח על, הצלתם אותי, תודה, תודה, תודה</p>
                </li>
                <li class="ro-item">
                    <h5>לורין תל אביב</h5>
                    <p>אני כל היום על הרגליים, אז זה היה בול במקום,היה מעולה, מרגיע ומהנה, לא יכולה לחכות לפעם הבאה</p>
                </li>
            </ul>
        </div>
        <div class="ro-hr"></div>
    </div>
</div>